.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
  padding-left: 200px;
  padding-right: 200px;
}

.nav-links {
  display: flex;
  gap: 30px ;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.nav-links a:hover {
  color: #1e88e5;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #1e88e5; /* Herodha-style blue */
}

.logo:hover {
  color: #000000;
}